body {
  /* background-image: url('https://www.thebillionaireshop.com/media/Rollsblackbadge1-1024x448.jpg'); */
  background-repeat: no-repeat;
  background-size:cover;
  /* width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px;  */
}

.formz {
  text-align: center;
  border-color: coral;
  border-style: solid;
}