/* NAV Component */
/* .background{
  background-image: url('https://images.unsplash.com/photo-1515180711443-f8685c6d6a74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat; 
 background-size: 100%; 
} */
body {
   background-image: url('https://images.unsplash.com/photo-1515180711443-f8685c6d6a74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
   background-repeat: no-repeat; 
  background-size: 100%; 

@import url('https://fonts.googleapis.com/css?family=Kadwa&display=swap');
@font-face{
  font-family:'Kadwa', serif;
  src: url('https://fonts.googleapis.com/css?family=Kadwa&display=swap')
}

/* NAV Component */
}.app-nav{
  background-color: black;

}
.app-nav h2{
  text-align: left;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-size: 20px;
  padding: 0;
}
#cart-logo {
  border: 1px solid black;
  float: right;
  margin-right: 10px;
  height: 40px;
  width: auto;
  border-radius: 25px;



}
/* body{
  background-image: url("https://images.unsplash.com/photo-1515180711443-f8685c6d6a74?ixlib=rb-1.2.1&auto=format&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
} */


#cart-logo img {
  /* margin-bottom: 20px; */
  height: 20px;
  width: auto;
}
#logout{
  justify-content: left;
  height:20px;
}
#search{
  bottom: 100px;
}



/* HEADER */
h1{
  color:white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 70px;
  text-align: center;

}

/* REGISTER/LOGIN FORM */
/* register */
.reg{
  box-sizing: border-box;
  margin-left: 500px;
  margin-right: 500px;
}

.reg input{
  display: block;
  margin-left: 5vw;
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.reg label{
  margin-left: 5vw;
}

.reg h3{
  text-align: center;
  color: white;
}

.reg form{
  padding-bottom: 20px;
  padding-top: 20px;
  /* border: 1px solid black; */
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(184, 184, 184, 0.5);
}

/* login */
.login{
  box-sizing: border-box;
  margin-left: 500px;
  margin-right: 500px;

}

.login input{
  display: block;
  margin-left: 5vw;
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.login label{
  margin-left: 5vw;
}
.login h3{
  text-align: center;
}

.login form{
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid black;
  background-color: lightblue;
}

.login-reg-buttons {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
}

.login-reg-buttons button{
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  margin-right: 3px;
}

.front-page h3{
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

 /* HOME */
.cat-div{
  display: grid;
  grid-template-columns: 400px 400px;
  margin-left: 43vh;
}

.print_cats{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-items: center;

}
.print_cats img{
  height: 300px;
  width: 300px;
}

/* PRODUCTS */
.products{
  /* text-align: center; */
  display: grid;
  grid-template-columns: 400px 400px;
  margin-left: 43vh;
}

.one-product{
  padding: 20px;
  font-size: 18px;
  text-align: center;
  justify-items: center;
}

.products img{
  /* height: 300px;
  width: auto; */
  height: 300px;
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
